# Node modules
node_modules/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Optional: ignorar package-lock.json si no deseas versionarlo
package-lock.json

# Environment variables
.env

# Build output
dist/
build/
